# Включаем перенаправление
RewriteEngine On
# Не применять к существующим файлам файлам
RewriteCond %{REQUEST_FILENAME} !-f
# Не применять к существующим директориям
RewriteCond %{REQUEST_FILENAME} !-d
# Редирект всех запросов на index.php
# L означает Last, нужен чтобы на этом этапе mod_rewrite сразу остановил работу.
# Короче, небольшое увеличение производительности.
# Получить URL адрес текущей страницы можно из переменной $_SERVER['REQUEST_URI'].
#RewriteRule .* index.php [L]

# URL-адрес текущей страницы будет храниться как в $_SERVER['REQUEST_URI'], так и в отдельном GET-параметре, в нашем случае $_GET['url_param'], причём этот URL будет очищен от GET-параметров.
# Флаг QSA нужен, поскольку без него GET-параметры не будут работать, то есть массив $_GET будет содержать только url и больше ничего.
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

